:root{
    --darkBlue: #192734;
    --lightBlue: #3E4E5E;
    --greenBlue: #1A3D45;
    --offWhite: #dedede;
    --vh: 1vh;
}
body{
    background-color: var(--darkBlue);
    color: var(--offWhite);
    margin: 0;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    overflow: auto;
    height: 100vh;
    overflow: hidden;
}
header{
    height: 90px;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: -5px;
    margin-top: -5px;
}
#logo{
    height: 50px;
    width: 50px;
}
#header{
    font-size: 30pt;
    font-weight: lighter;
    width: 100%;
}
section{
    margin-inline: 20px;
}
#topSection{
    display: flex;
    margin-right: 0;
    padding-bottom: 15px;
    height: min-content;
    flex-shrink: 0;
}
#bottomSectionWrapper{
    overflow: hidden;
    height: 50%;
}
#date{
    font-family: monospace;
    font-size: 7.5pt;
}
#bottomSection{
    position: relative;
    height: 100%;
    overflow-y: scroll;
    border-radius: 5px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#gradient{
    position:sticky;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: linear-gradient(#dedede00, #192734);
}
#bottomSection::-webkit-scrollbar{
    display: none;
}
#albumCover{
    border-radius: 15px;
    width: 180px;
    height: 180px;
}
#titleContainer{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-inline: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
}
#title{
    text-align: center;
    width: 100%;
}
#artistWithDate{
    text-align: center;
    position: sticky;
    bottom: 0;
}
#topCard{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#bottomCard{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.infoCard{
    display: flex;
    align-items: center;
    background-color: var(--lightBlue);
    border-radius: 7px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
}
.infoCard > h3{
    width: 100%;
}
.infoCard > .info{
    font-family: monospace;
    text-align: right;
    width: 100%;
}
#nav{
    margin: 2rem;
    height: 50px;
    width: calc(100% - 4rem);
    background-color: var(--greenBlue);
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.input{
    font-family: monospace;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--lightBlue);
    border: #192734 0rem;
    color: var(--offWhite);
}
#songSelector{
    width: 100%;
    margin: 10px;
    background-color: var(--lightBlue);
    color: var(--offWhite);
}